[Desktop Entry]
Name=MD Tracker
Exec=/opt/md_tracker_search_provider/md_tracker_search_provider.py
Type=Application
Icon=/usr/share/icons/hicolor/256x256/apps/md-tracker.png
